@import "../../styles/init";

.xs {
  @include font(headings, xs, $color-white);
}

.sm {
  @include font(headings, sm, $color-white);
}

.md {
  @include font(headings, md, $color-white);
}

.lg {
  @include font(headings, lg, $color-white);
}

.xl {
  @include font(headings, xl, $color-white);
}

// .xxl {
//   @include font(headings, xxl, $color-white);
// }

.white {
  color: $color-white;
}

.black {
  color: $color-black;
}

.primary {
  color: map-get($theme-colors, primary);
}

.secondary {
  color: map-get($theme-colors, secondary);
}

.navy-blue {
  color: $color-navy-blue;
}
