@import "../../styles/init";

.checkbox {
  input[type="checkbox"] {
    appearance: none;
    margin: 0;
    margin-right: 8px;

    &:before {
      content: unicode("2713");
      transition-property: background-color;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 1px solid $color-sub-text;
      font-size: 15px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: transparent;
      cursor: pointer;
    }

    &.checked::before {
      color: #FFFFFF;
      background-color: map-get($theme-colors, primary);
    }
  }

  label {
    @include font(body, md, $color-gray);
    user-select: none;
    cursor: pointer;

    a {
      display: inline;
      color: map-get($theme-colors, primary);
    }
  }

  &.error {
    input[type="checkbox"] {
      &:before {
        border-color: map-get($theme-colors, error);
      }
    }

    label,
    a {
      color: map-get($theme-colors, error);
    }
  }
}