<article>
  <header style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
    <img src="cid:logo" style="max-width: 200px;" />
  </header>

  <div style="text-align: center; padding-top: 40px; padding-bottom: 40px;">
    <p style="color: #777777; font-size: 22px; margin-top: 0; margin-bottom: 40px;">ยก Hi! <strong>{{ name }} {{ lastname }}</strong> welcome to AgentSupport !</p>
    <a href="http://{{ link }}" style="
      display: inline-block;
      max-width: 250px;
      border: 3px solid #FF9F0D;
      transition-property: background-color;
      transition-duration: 400ms;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      box-shadow: none;
      outline: none;
      color: #fff;
      font-family: 'Helvatica', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.35;
      letter-spacing: normal;
      background-color: #FF9F0D;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 45px;
      padding-left: 45px;
      text-decoration: none;">
        Active your account
    </a>
  </div>

  <footer>
    <p style="color: #FFFFFF; font-size: 18px; text-align: center;">
      {{{ copyright }}}
    </p>
  </footer>
</article>
