<article>
  <header style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
    <img src="cid:logo" style="max-width: 200px;" />
  </header>

  <div style="text-align: center; padding-top: 40px; padding-bottom: 40px;">
    <p style="color: #777777; font-size: 22px; margin-top: 0; margin-bottom: 40px;">ยก Hi! <strong>{{ name }} {{ lastname }}</strong> you have recieved an invitation to join to AgentSupport !</p>
    <a href="http://{{ link }}" style="
      display: inline-block;
      padding: 10px 18px;
      margin-top: 20px;
      background-color: #674293;
      color: #FFFFFF;
      font-size: 20px;
      line-height: 36px;
      border-radius: 4px;
      white-space: nowrap;
      text-decoration: none;
      vertical-align: baseline;
      text-align: center;
      box-sizing: border-box;">

      Acept invitation
    </a>
  </div>

  <footer>
    <p style="color: #777777; font-size: 18px; text-align: center;">
      {{{ copyright }}}
    </p>
  </footer>
</article>
