<article>
  <header>
    <img src="cid:logo" style="max-width: 200px;" />
  </header>

  <div class="box">
    <p style="color: #777777; font-size: 22px; margin-top: 0; margin-bottom: 40px;">
      ¡Hi! <strong>{{ name }} {{ lastname }}</strong> follow the below link to reset your pasword!
    </p>
    <a href="http://{{ link }}">
      Recovery your password
    </a>
  </div>

  <footer>
    <p style="color: #FFFFFF; font-size: 18px; text-align: center;">
      {{{ copyright }}}
    </p>
  </footer>
</article>
