@import "../../styles/init";

.buttonIcon {
  border: none;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  transition-property: border background-color color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  @include shadow(1);

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
  }

  &.primary {
    background-color: map-get($theme-colors, primary);
    border-color: map-get($theme-colors, primary);
    color: $color-white;

    &:hover {
      background-color: transparent;
      color: map-get($theme-colors, primary);
      border-color: map-get($theme-colors, primary);
    }
  }

  &.secondary {
    border-color: transparent;
    background-color: transparent;
    color: $color-navy-blue;

    &:hover {
      background-color: transparent;
      color: $color-navy-blue;
      border-color: $color-navy-blue;
    }
  }
}
