@import "../../styles/init";

.perPage {
  padding: 6px 8px !important;
}

.resultsGridWrapper {
  margin-top: -16px !important;
}

.viewMode {
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    color: $color-navy-blue;
    opacity: 0.5;

    &:hover, &.active {
      opacity: 1;
    }
  }
}

.sideBar {
  border: 1px solid #F2F2F2;
  border-radius: 6px;

  .badgeContainer {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}
