@import "../../styles/init";

.noLine {
  line-height: 0;
}

.card {
  width: 100%;
  position: relative;
  box-shadow: $card-box-shadow;

  img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  &:hover {
    cursor: pointer;
  }
}

.actions {
  position: absolute;
  top: 16px;
  left: 16px;
}
