$card-spacer-y:                     $spacer;
$card-spacer-x:                     $spacer;
$card-title-spacer-y:               $spacer * .5;
$card-title-color:                  null;
$card-subtitle-color:               null;
$card-border-width:                 0;
$card-border-color:                 transparent;
$card-border-radius:                0;
$card-box-shadow:                   0px 0px 20px 5px rgba(248, 246, 253, 0.75);
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
$card-cap-padding-y:                $card-spacer-y * .5;
$card-cap-padding-x:                $card-spacer-x;
$card-cap-bg:                       transparent;
$card-cap-color:                    null;
$card-height:                       null;
$card-color:                        null;
$card-bg:                           transparent;
$card-img-overlay-padding:          10px;
$card-group-margin:                 24px;
